<div *ngIf="!loading" class="quote-container">
  <mat-card class="card-list">
    <mat-card-content>
        <div class="list-container">
            <mat-list class="left-list">
            <mat-list-item>
                <h2>{{selectedStock.symbol}}</h2>
                <h6 class="long-name">{{selectedStock.longName}}</h6>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h5>{{selectedStock.fullExchangeName}}</h5>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item class="list-price">
                <h2 class="price">{{ formatValue(selectedStock.regularMarketPrice) }}</h2>
                <h3 [ngClass]="checkChange(selectedStock.regularMarketChange)?'gain':'loss'">{{ formatValue(selectedStock.regularMarketChange) }}</h3>
                <h3 [ngClass]="checkChange(selectedStock.regularMarketChange)?'gain':'loss'">({{ formatValue(selectedStock.regularMarketChangePercent) }}%)</h3>
              </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>
                  <h5>Sector: {{quoteProfile.sector}}</h5>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <h5>Industry: {{quoteProfile.industry}}</h5>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>          

                </mat-list-item>
              </mat-list>
        </div>
    </mat-card-content>
  </mat-card>
  <app-table [tableHeader]="tableHeader" [tableData]="tableData"></app-table>
</div>
